{{>layouts/header}}
<!-- jumbotron -->
<div class="jumbotron">
    <h1>Article 목록</h1>
    <hr>
    <p>articles/index.mustache</p>
    <a href="/articles/new" class="btn btn-primary">글쓰기</a>
</div>
<!-- articles table -->
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
    </tr>
    </thead>
    <tbody>
    {{#articles}}
        <tr>
            <td>{{id}}</td>
            <td>
                <a href="/articles/{{id}}">{{title}}</a> <!-- 링크 추가 -->
            </td>
        </tr>
    {{/articles}}
    </tbody>
</table>
{{>layouts/footer}}